.u-block-7399-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 20px;
}

.u-block-7399-3 {
  position: absolute;
  left: 0;
}

.u-block-7399-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/bag.webp?rand=5303");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 100;
  margin: 231px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 21px auto 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 5px 5px 20px 0 rgba(41,45,51,0.35);
  margin: 41px auto 60px;
  padding: 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1-1 .u-btn-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/acce.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 100;
  text-transform: uppercase;
  width: 613px;
  margin: 231px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 300;
  font-size: 0.875rem;
  width: 240px;
  margin: 21px auto 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 5px 5px 30px 0 rgba(41,45,51,0.35);
  text-shadow: 0 30px rgba(0,0,0,0) rgba(0,0,0,1);
  margin: 41px auto 60px;
  padding: 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1-2 .u-btn-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 122px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 31px auto 34px;
}.u-section-3 .u-sheet-1 {
  min-height: 1206px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 1px;
  margin-top: -1px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 30px 30px;
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 1206px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.25s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-1 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-1 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-37 {
  height: 46px;
}

.u-section-3 .u-table-cell-1 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-2 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-43 {
  height: 46px;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-2 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-2 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-53 {
  height: 46px;
}

.u-section-3 .u-table-cell-3 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-4 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-59 {
  height: 46px;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-3 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-3 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-69 {
  height: 46px;
}

.u-section-3 .u-table-cell-5 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-6 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-75 {
  height: 46px;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-4 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-4 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-85 {
  height: 46px;
}

.u-section-3 .u-table-cell-7 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-8 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-91 {
  height: 46px;
}

.u-section-3 .u-list-item-5 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-5 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-5 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-101 {
  height: 46px;
}

.u-section-3 .u-table-cell-9 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-10 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-107 {
  height: 46px;
}

.u-section-3 .u-list-item-6 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-6 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-6 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-117 {
  height: 46px;
}

.u-section-3 .u-table-cell-11 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-12 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-123 {
  height: 46px;
}

.u-section-3 .u-list-item-7 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-7 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-7 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-133 {
  height: 46px;
}

.u-section-3 .u-table-cell-13 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-14 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-139 {
  height: 46px;
}

.u-section-3 .u-list-item-8 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-8 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-8 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-149 {
  height: 46px;
}

.u-section-3 .u-table-cell-15 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-16 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-155 {
  height: 46px;
}

.u-section-3 .u-list-item-9 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-9 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-9 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-9 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-165 {
  height: 46px;
}

.u-section-3 .u-table-cell-17 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-18 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-171 {
  height: 46px;
}

.u-section-3 .u-list-item-10 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-10 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-10 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-181 {
  height: 46px;
}

.u-section-3 .u-table-cell-19 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-20 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-187 {
  height: 46px;
}

.u-section-3 .u-list-item-11 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-11 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-11 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-11 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-197 {
  height: 46px;
}

.u-section-3 .u-table-cell-21 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-22 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-203 {
  height: 46px;
}

.u-section-3 .u-list-item-12 {
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-12 {
  padding: 0 0 10px;
}

.u-section-3 .u-image-12 {
  height: 262px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-table-12 {
  height: 110px;
  margin: 0 auto 0 0;
}

.u-block-e5fd-213 {
  height: 46px;
}

.u-section-3 .u-table-cell-23 {
  font-size: 0.75rem;
  font-weight: 600;
}

.u-section-3 .u-table-cell-24 {
  font-size: 1.25rem;
  font-weight: 800;
}

.u-block-e5fd-219 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 988px;
  }

  .u-section-3 .u-image-1 {
    height: 212px;
  }

  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 212px;
  }

  .u-section-3 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 212px;
  }

  .u-section-3 .u-table-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 212px;
  }

  .u-section-3 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 212px;
  }

  .u-section-3 .u-table-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 212px;
  }

  .u-section-3 .u-table-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 212px;
  }

  .u-section-3 .u-table-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 212px;
  }

  .u-section-3 .u-table-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 212px;
  }

  .u-section-3 .u-table-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 212px;
  }

  .u-section-3 .u-table-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-11 {
    height: 212px;
  }

  .u-section-3 .u-table-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-12 {
    height: 212px;
  }

  .u-section-3 .u-table-12 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3163px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1456px;
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    grid-auto-columns: calc(33.3333% - 20px);
  }

  .u-section-3 .u-image-1 {
    height: 219px;
  }

  .u-section-3 .u-image-2 {
    height: 219px;
  }

  .u-section-3 .u-image-3 {
    height: 219px;
  }

  .u-section-3 .u-image-4 {
    height: 219px;
  }

  .u-section-3 .u-image-5 {
    height: 219px;
  }

  .u-section-3 .u-image-6 {
    height: 219px;
  }

  .u-section-3 .u-image-7 {
    height: 219px;
  }

  .u-section-3 .u-image-8 {
    height: 219px;
  }

  .u-section-3 .u-image-9 {
    height: 219px;
  }

  .u-section-3 .u-image-10 {
    height: 219px;
  }

  .u-section-3 .u-image-11 {
    height: 219px;
  }

  .u-section-3 .u-image-12 {
    height: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    min-height: 2430px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-3 .u-image-1 {
    height: 255px;
  }

  .u-section-3 .u-image-2 {
    height: 255px;
  }

  .u-section-3 .u-image-3 {
    height: 255px;
  }

  .u-section-3 .u-image-4 {
    height: 255px;
  }

  .u-section-3 .u-image-5 {
    height: 255px;
  }

  .u-section-3 .u-image-6 {
    height: 255px;
  }

  .u-section-3 .u-image-7 {
    height: 255px;
  }

  .u-section-3 .u-image-8 {
    height: 255px;
  }

  .u-section-3 .u-image-9 {
    height: 255px;
  }

  .u-section-3 .u-image-10 {
    height: 255px;
  }

  .u-section-3 .u-image-11 {
    height: 255px;
  }

  .u-section-3 .u-image-12 {
    height: 255px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-1 {
    height: 340px;
  }

  .u-section-3 .u-image-2 {
    height: 340px;
  }

  .u-section-3 .u-image-3 {
    height: 340px;
  }

  .u-section-3 .u-image-4 {
    height: 340px;
  }

  .u-section-3 .u-image-5 {
    height: 340px;
  }

  .u-section-3 .u-image-6 {
    height: 340px;
  }

  .u-section-3 .u-image-7 {
    height: 340px;
  }

  .u-section-3 .u-image-8 {
    height: 340px;
  }

  .u-section-3 .u-image-9 {
    height: 340px;
  }

  .u-section-3 .u-image-10 {
    height: 340px;
  }

  .u-section-3 .u-image-11 {
    height: 340px;
  }

  .u-section-3 .u-image-12 {
    height: 340px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-5,
.u-section-3 .u-list-item-5:before,
.u-section-3 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-6,
.u-section-3 .u-list-item-6:before,
.u-section-3 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-7,
.u-section-3 .u-list-item-7:before,
.u-section-3 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-7.u-list-item-7.u-list-item-7:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-7 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-7 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-8,
.u-section-3 .u-list-item-8:before,
.u-section-3 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-8.u-list-item-8.u-list-item-8:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-8.u-list-item-8.u-list-item-8:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-8 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-8.u-list-item-8.u-list-item-8.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-8 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-9,
.u-section-3 .u-list-item-9:before,
.u-section-3 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-9.u-list-item-9.u-list-item-9:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-9.u-list-item-9.u-list-item-9:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-9 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-9.u-list-item-9.u-list-item-9.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-9 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-10,
.u-section-3 .u-list-item-10:before,
.u-section-3 .u-list-item-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-10.u-list-item-10.u-list-item-10:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-10.u-list-item-10.u-list-item-10:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-10 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-10.u-list-item-10.u-list-item-10.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-10 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-11,
.u-section-3 .u-list-item-11:before,
.u-section-3 .u-list-item-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-11.u-list-item-11.u-list-item-11:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-11.u-list-item-11.u-list-item-11:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-11 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-11.u-list-item-11.u-list-item-11.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-11 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-12,
.u-section-3 .u-list-item-12:before,
.u-section-3 .u-list-item-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-12.u-list-item-12.u-list-item-12:hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-12.u-list-item-12.u-list-item-12:hover:before {
  background-color: #ffffff !important;
}

.u-section-3 .u-list-item-12 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-12.u-list-item-12.u-list-item-12.hover {
  box-shadow: 5px 5px 20px 9px rgba(133,142,153,0.1) !important;
  border-radius: 5px !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-list-item-12 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 94px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 5px 5px 30px 0 rgba(41,45,51,0.35);
  text-shadow: 0 30px rgba(0,0,0,0) rgba(0,0,0,1);
  margin: 25px auto 29px;
  padding: 13px 41px;
}
